

<ul class="list-group">
  <li class="list-group-item" ng-repeat="event in events">
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/profile.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-8">
        <h3>
          <a ui-sref="app.event({id: event.id})">{{event.title}}</a>
        </h3>
        <h4>{{event.start_datetime | amCalendar}} to {{event.end_datetime | amCalendar}} </h4>
        <h5>@{{event.venue}}</h5>
        <p>
          {{event.description}}
        </p>
      </div>
    </div>
  </li>
</ul>

<pagination total-items="totalItems" ng-model="currentPage"></pagination>