

<ul class="list-group">
  <li class="list-group-item" ng-repeat="i in [1,2,3]">
    <div class="row">
      <div class="col-md-4">
        <img src="/assets/profile.jpg" alt="" class="img-responsive">
      </div>
      <div class="col-md-8">
        <h3>
          <a ui-sref="app.post({id: $index})">Title</a>
        </h3>
        <h4>Tue 11:00 AM - 12:00PM @ IT Park, Lahug, Cebu City</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum magni sit laboriosam, quo architecto ipsum quas ea. Tenetur animi, sunt, totam esse, similique maxime assumenda qui eos repudiandae hic voluptas.
        </p>
      </div>
    </div>
  </li>
</ul>