.md-sidenav-left {
  
  img.profile-pic {
    width: 50px;
    margin-right: 15px;
  }

  md-list-item {
    button {
      width: 100%;
      text-align: right;
    }
  }
  .fa {
    margin-right: 15px;
    font-size: 18px;
  }
}